a{
    /* text-decoration: none; */
}
ul li ,ol li{
    list-style-type: none;
}
div::after, ul::after, ol::after{
    content: "";
    clear: both;
    visibility: visible;
}
img{
    width: 100%;
    height: 100%;
}
.sub-menu li{
    padding: 4px 0 !important;
}
.submenu li:hover a{
    color: #ffffff88;
}
.container{
    padding: 0 15px !important;
}
.sub-mega-menu {
    visibility: hidden;
    opacity: 0;
    margin-top: 35px;
    transition: all 0.3s ease;
}
.has-mega-menu:hover .sub-mega-menu{
    visibility: visible;
    opacity: 100%;
    margin-top: 0;

}

