@import "tailwindcss";

@theme {


    /* FOR BYREAKEPOINT */
    
    --breakpoint-xs: 360px;
    --breakpoint-sm: 480px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 1024px;
    --breakpoint-xl: 1280px;
    --breakpoint-2xl: 1536px;
    --breakpoint-3xl: 1920px;
    --breakpoint-4xl: 2560px;
}